version: "3.8"
services:
  postgres:
    image: postgres:16
    container_name: postgres-soa
    environment:
      POSTGRES_DB: soa
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
